{% extends 'base.html' %}
{% block title %}Книги{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="my-4">Список книг</h1>
        <form method="post" class="form-inline mb-4">
            <input type="text" name="title" class="form-control mr-2" placeholder="Поиск по названию книги" value="{{ title }}">
            <select name="author" class="form-control mr-2">
                <option value="">Выберите автора</option>
                {% for author_item in authors %}
                    <option value="{{ author_item.author }}" {% if author == author_item.author %}selected{% endif %}>{{ author_item.author }}</option>
                {% endfor %}
            </select>
            <select name="genre" class="form-control mr-2">
                <option value="">Выберите жанр</option>
                {% for genre_item in genres %}
                    <option value="{{ genre_item.genre }}" {% if genre == genre_item.genre %}selected{% endif %}>{{ genre_item.genre }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
        <div class="row">
            {% for book in books %}
                <div class="col-12 mb-4">
                    <div class="card h-100">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="card-img-top" src="{{ url_for('static', filename='uploads/' ~ book.cover_image) }}" alt="{{ book.title }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title">{{ book.title }}</h3>
                                    <h4>{{ book.author }}</h4>
                                    <h5>Жанр: {{ book.genre }}</h5>
                                    <p class="card-text">{{ book.description }}</p>
                                    <a href="{{ url_for('book_detail', book_id=book.id) }}" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
