{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h2>{{ book.title }}</h2>
        <img src="{{ url_for('static', filename='uploads/' + book.image_file) }}" class="img-fluid" alt="{{ book.title }}">
        <p><strong>Автор:</strong> {{ book.author }}</p>
        <p><strong>Жанр:</strong> {{ book.genre }}</p>
        <p><strong>Описание:</strong></p>
        <p>{{ book.long_description }}</p>
        {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('reserve_book', book_id=book.id) }}">
            <div class="form-group">
                <label for="duration">Срок бронирования (дней):</label>
                <input type="number" class="form-control" id="duration" name="duration" required>
            </div>
            <button type="submit" class="btn btn-success mt-3">Забронировать</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
