{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <h1>Добро пожаловать в liBBook</h1>
    <p>liBBook - это электронная библиотека, где вы можете найти и читать книги онлайн. Наш сайт предназначен для всех, кто хочет получить доступ к огромной библиотеке книг в электронном формате.</p>
    <p>Зарегистрируйтесь, чтобы начать пользоваться всеми возможностями нашего сайта:</p>
    <ul>
        <li>Чтение книг онлайн</li>
        <li>Скачивание книг</li>
        <li>Оставление отзывов о книгах</li>
        <li>Поиск книг по различным критериям</li>
    </ul>
    <p>Если вы библиотекарь, вы сможете добавлять новые книги и управлять пользователями. Присоединяйтесь к liBBook и откройте для себя мир книг!</p>
{% endblock %}
