{% extends 'base.html' %}
{% block title %}Пожелания{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="my-4">Оставить пожелание</h1>
        <form method="post">
            <div class="form-group">
                <label for="wish_text">Ваше пожелание:</label>
                <textarea class="form-control" id="wish_text" name="wish_text" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}
